.board{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.board-tile {
	height: 48px;
	width: 48px;
	border: 1px solid #aaa;
}

.board-btn {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.target{
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.target-tile {
    height: 24px;
    width: 24px;
    border: 1px solid #aaa;
}

.target-btn {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.inactive{
    background-color: #fff;
    color: #000000;
}

.active{
    background-color: #000;
    color: #ffffff;
}

